# DB
POSTGRES_DB=neondb
POSTGRES_DB_PORT=5432
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_ydsAZYtu3HX7
POSTGRES_HOST=ep-wild-feather-ag0k8pk9-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
