{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="card card-body blur shadow-blur mx-3 mx-md-4 border-0 shadow-none"
             style="background: rgba(255, 255, 255, 0.8) !important;
            backdrop-filter: blur(10px) saturate(120%) !important;">
          <h3 class="mb-4 text-center text-dark font-weight-bold">{{ title }}({{ paginator.count }})</h3>

          <ul class="list-group bg-transparent">
            {% for task in tasks %}
              <li class="list-group-item d-flex align-items-center justify-content-between border-bottom bg-transparent move-on-hover mb-1 position-relative"
                  style="background: rgba(255, 255, 255, 0.5) !important;
                   border-radius: 10px !important;">
                <form action="{% url "manager:task-toggle" pk=task.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn p-0 border-0 bg-transparent shadow-none">
                    <i class="material-icons me-3 {% if task.is_completed %}text-success{% else %}text-secondary{% endif %}">
                      {% if task.is_completed %}check_circle{% else %}radio_button_unchecked{% endif %}
                    </i>
                    <span class="text-dark font-weight-bold">{{ task.name }}</span>
                  </button>
                </form>
                <a href="{% url 'manager:task-detail' pk=task.id %}" class="stretched-link"></a>
                <div class="d-flex align-items-center gap-5 justify-content-between">
                    <span class="badge mb-0
                      {% if task.priority == 'Urgent' %}
                          bg-gradient-danger
                      {% elif task.priority == 'High' %}
                          bg-gradient-warning
                      {% elif task.priority == 'Medium' %}
                          bg-gradient-info
                      {% else %}
                          bg-gradient-secondary
                      {% endif %}
                          ">
                      {{ task.priority }}
                    </span>
                  <p class="lead mb-0" style="min-width: 200px">{{ task.deadline|date:"M. d, Y, g a" }}</p>
                  <div class="d-flex gap-3">
                    <a href="#" class="text-info opacity-7">
                      <i class="material-icons text-sm">edit</i>
                    </a>
                    <a href="#" class="text-primary opacity-7">
                      <i class="material-icons text-sm">delete</i>
                    </a>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>

          {% include "includes/pagination.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}