{% load static %}
<div class="container position-absolute start-0 end-0 z-index-sticky">
  <div class="row">
    <div class="col-12 mx-auto">
      <nav class="navbar navbar-expand-lg blur border-radius-xl shadow-blur py-2 px-4 mt-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3 text-sm" href="{% url 'manager:index' %}">
            TASKI MANAGER
          </a>

          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>

          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
              <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                   href="{% url 'manager:user-tasks-list' %}">
                  <i class="material-icons opacity-6 me-2 text-md">assignment</i> Tasks
                </a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                   href="{% url 'manager:projects-list' %}">
                  <i class="material-icons opacity-6 me-2 text-md">folder</i> Projects
                </a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" href="{% url 'manager:teams-list' %}">
                  <i class="material-icons opacity-6 me-2 text-md">groups</i> Teams
                </a>
              </li>
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuUser"
                   data-bs-toggle="dropdown">
                  <i class="material-icons opacity-6 me-2 text-md">account_circle</i>
                  Account
                  <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-auto ms-md-2">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animation p-3 border-radius-lg mt-0 mt-lg-3"
                     aria-labelledby="dropdownMenuUser">
                  {% if request.user.is_authenticated %}
                    <h6 class="dropdown-header text-dark font-weight-bolder px-1">
                      Welcome, {{ request.user.username }}</h6>
                    <a href="{% url 'manager:worker-profile' %}" class="dropdown-item border-radius-md">Profile</a>
                    <hr class="horizontal dark my-2">
                    <a href="{% url 'manager:workers-list' %}" class="dropdown-item border-radius-md">Workers</a>
                    <a href="{% url 'manager:worker-create' %}" class="dropdown-item border-radius-md">Create new
                      worker</a>
                    <hr class="horizontal dark my-2">
                    <a href="{% url 'manager:projects-list' %}" class="dropdown-item border-radius-md">Projects</a>
                    <a href="{% url 'manager:project-create' %}" class="dropdown-item border-radius-md">Create new
                      Project</a>
                    <hr class="horizontal dark my-2">
                    <a href="{% url 'manager:task-types-list' %}" class="dropdown-item border-radius-md">Task Types</a>
                    <a href="{% url 'manager:task-type-create' %}" class="dropdown-item border-radius-md">Create new
                      Task type</a>
                    <hr class="horizontal dark my-2">
                    <a href="{% url 'manager:tags-list' %}" class="dropdown-item border-radius-md">Tags</a>
                    <a href="{% url 'manager:tag-create' %}" class="dropdown-item border-radius-md">Create new
                      Tag</a>
                    <hr class="horizontal dark my-2">
                    <a href="{% url 'manager:positions-list' %}" class="dropdown-item border-radius-md">Positions</a>
                    <a href="{% url 'manager:position-create' %}" class="dropdown-item border-radius-md">Create new
                      Position</a>
                    <hr class="horizontal dark my-2">
                    <form method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit"
                              class="dropdown-item border-radius-md text-danger border-0 bg-transparent text-start w-100">
                        Logout
                      </button>
                    </form>
                  {% endif %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>